In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# Создаю столбец "Выгода"
data['profit'] = data.revenue - data.budget

# Форматирую дату выхода фильма, и создаю столбец "месяц" для определения времени года
data['release_date'] = pd.to_datetime(data['release_date'], format='%m/%d/%Y')
data['month'] = pd.DatetimeIndex(data['release_date']).month

# Создаю столбец "Количество символов в названии"
data['original_title_len'] = data['original_title'].apply(lambda s: len(s))

# Превращаю значения столбцов в списки
data['genres'] = data['genres'].apply(lambda x:x.split('|'))

data['director'] = data['director'].apply(lambda x: x.split('|'))
                                                            
data['cast'] = data['cast'].apply(lambda x: x.split('|'))

data['production_companies'] = data['production_companies'].apply(lambda x: x.split('|'))

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [5]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,original_title_len
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,"[Johnny Depp, PenÃ©lope Cruz, Geoffrey Rush, I...",[Rob Marshall],Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,"[Adventure, Action, Fantasy]","[Walt Disney Pictures, Jerry Bruckheimer Films...",2011-05-11,6.3,2011,641683000,5,43

ВАРИАНТ 2

In [6]:
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [8]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [9]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '...'

In [7]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,original_title_len
1157,tt0279111,56000000,12923936,Gods and Generals,"[Stephen Lang, Jeff Daniels, Robert Duvall, Ke...",[Ronald F. Maxwell],The nations heart was touched by...,The film centers mostly around the personal an...,214,"[Drama, History, War]","[Turner Pictures, Antietam Filmworks]",2003-02-21,5.8,2003,-43076064,2,17

In [8]:
answers['2'] = '1157. Gods and Generals (tt0279111)'

# 3. Какой из фильмов самый короткий (в минутах)?

In [9]:
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,original_title_len
768,tt1449283,30000000,14460000,Winnie the Pooh,"[Jim Cummings, Travis Oates, Jim Cummings, Bud...","[Stephen Anderson, Don Hall]",Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,"[Animation, Family]","[Walt Disney Pictures, Walt Disney Animation S...",2011-04-13,6.8,2011,-15540000,4,15

In [10]:
answers['3'] = '768. Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [11]:
# Из таблицы data.describe, которая находится выше "Предобработки"
answers['4'] = '110'

# 5. Каково медианное значение длительности фильмов?

In [12]:
# Из таблицы data.describe, которая находится выше "Предобработки"
answers['5'] = '107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [13]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,original_title_len
239,tt0499549,237000000,2781505847,Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron],Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,"[Action, Adventure, Fantasy, Science Fiction]","[Ingenious Film Partners, Twentieth Century Fo...",2009-12-10,7.1,2009,2544505847,12,6

In [14]:
answers['6'] = '239. Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [15]:
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,original_title_len
1245,tt1210819,255000000,89289910,The Lone Ranger,"[Johnny Depp, Armie Hammer, William Fichtner, ...",[Gore Verbinski],Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,"[Action, Adventure, Western]","[Walt Disney Pictures, Jerry Bruckheimer Films...",2013-07-03,6.0,2013,-165710090,7,15

In [16]:
answers['7'] = '1245. The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [17]:
len(data[data.profit > 0])

1478

In [18]:
answers['8'] = '1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [19]:
#Создаю таблтцу, в которой будут только фильмы 2008 года
df_2008 = data[data.release_year == 2008]
df_2008[df_2008.revenue == df_2008.revenue.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,original_title_len
599,tt0468569,185000000,1001921825,The Dark Knight,"[Christian Bale, Michael Caine, Heath Ledger, ...",[Christopher Nolan],Why So Serious?,Batman raises the stakes in his war on crime. ...,152,"[Drama, Action, Crime, Thriller]","[DC Comics, Legendary Pictures, Warner Bros., ...",2008-07-16,8.1,2008,816921825,7,15

In [20]:
answers['9'] = '599. The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [21]:
data.query('2012 <= release_year <= 2014').sort_values(by = 'profit')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,original_title_len
1245,tt1210819,255000000,89289910,The Lone Ranger,"[Johnny Depp, Armie Hammer, William Fichtner, ...",[Gore Verbinski],Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,"[Action, Adventure, Western]","[Walt Disney Pictures, Jerry Bruckheimer Films...",2013-07-03,6.0,2013,-165710090,7,15
1214,tt0790736,130000000,61648500,R.I.P.D.,"[Jeff Bridges, Ryan Reynolds, Kevin Bacon, Ste...",[Robert Schwentke],To protect and serve the living,A recently slain cop joins a team of undead po...,96,"[Fantasy, Action, Comedy, Crime]","[Universal Pictures, Original Film, Dark Horse...",2013-07-18,5.3,2013,-68351500,7,8
1007,tt1374992,60000000,8106475,Upside Down,"[Kirsten Dunst, Jim Sturgess, Timothy Spall, J...",[Juan Diego Solanas],Two worlds. One future.,In an alternate universe where twinned worlds ...,104,"[Romance, Science Fiction, Drama, Fantasy]","[Onyx Films, Studio 37, Jouror Productions, Fr...",2012-09-27,6.1,2012,-51893525,9,11
1302,tt0884726,70000000,18662027,Legends of Oz: Dorothy's Return,"[Lea Michele, Dan Aykroyd, Patrick Stewart, Hu...",[Dan St. Pierre],There's trouble in OZ...,"Dorothy wakes up in post-tornado Kansas, only ...",88,"[Animation, Music, Family]","[Prana Animation Studios, Summertime Entertain...",2013-06-13,6.1,2013,-51337973,6,31
1235,tt1308729,55000000,9489829,Bullet to the Head,"[Sylvester Stallone, Sung Kang, Sarah Shahi, A...",[Walter Hill],Revenge Never Gets Old.,"After watching their respective partners die, ...",92,"[Action, Crime, Thriller]","[Dark Castle Entertainment, After Dark Films, ...",2013-01-31,5.2,2013,-45510171,1,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1189,tt1690953,76000000,970761885,Despicable Me 2,"[Steve Carell, Kristen Wiig, Benjamin Bratt, M...","[Pierre Coffin, Chris Renaud]",Back 2 Work,Gru is recruited by the Anti-Villain League to...,98,"[Animation, Comedy, Family]","[Universal Pictures, Illumination Entertainment]",2013-06-25,7.0,2013,894761885,6,15
974,tt1074638,200000000,1108561013,Skyfall,"[Daniel Craig, Judi Dench, Javier Bardem, Ralp...",[Sam Mendes],Think on your sins.,When Bond's latest assignment goes gravely wro...,143,"[Action, Adventure, Thriller]",[Columbia Pictures],2012-10-25,6.8,2012,908561013,10,7
1180,tt1300854,200000000,1215439994,Iron Man 3,"[Robert Downey Jr., Gwyneth Paltrow, Guy Pearc...",[Shane Black],Unleash the power behind the armor.,When Tony Stark's world is torn apart by a for...,130,"[Action, Adventure, Science Fiction]",[Marvel Studios],2013-04-18,6.9,2013,1015439994,4,10
1177,tt2294629,150000000,1274219009,Frozen,"[Kristen Bell, Idina Menzel, Jonathan Groff, J...","[Chris Buck, Jennifer Lee]",Only the act of true love will thaw a frozen h...,Young princess Anna of Arendelle dreams about ...,102,"[Animation, Adventure, Family]","[Walt Disney Pictures, Walt Disney Animation S...",2013-11-27,7.5,2013,1124219009,11,6
970,tt0848228,220000000,1519557910,The Avengers,"[Robert Downey Jr., Chris Evans, Mark Ruffalo,...",[Joss Whedon],Some assembly required.,When an unexpected enemy emerges and threatens...,143,"[Science Fiction, Action, Adventure]",[Marvel Studios],2012-04-25,7.3,2012,1299557910,4,12

In [22]:
answers['10'] = '1245. The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [23]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

data.explode('genres').genres.value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

ВАРИАНТ 2

In [24]:
answers['11'] = 'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [25]:
data_explode_genres = data.explode('genres')
data_profit = data_explode_genres[data_explode_genres.profit > 0]
group_genres = data_profit['genres'].value_counts()
display(group_genres)

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

In [26]:
answers['12'] = 'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [27]:
data_director = data.explode('director')
data_director.groupby(['director'])['revenue'].sum().sort_values(ascending = False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

In [28]:
answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [29]:
df_genres = data.explode('genres')
df_action = df_genres[df_genres.genres == 'Action']
df_exploded = df_action.explode('director')
display(df_exploded)
df_exploded.director.value_counts()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,original_title_len
0,tt0369610,150000000,1513528810,Jurassic World,"[Chris Pratt, Bryce Dallas Howard, Irrfan Khan...",Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action,"[Universal Studios, Amblin Entertainment, Lege...",2015-06-09,6.5,2015,1363528810,6,14
1,tt1392190,150000000,378436354,Mad Max: Fury Road,"[Tom Hardy, Charlize Theron, Hugh Keays-Byrne,...",George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action,"[Village Roadshow Pictures, Kennedy Miller Pro...",2015-05-13,7.1,2015,228436354,5,18
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,"[Harrison Ford, Mark Hamill, Carrie Fisher, Ad...",J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action,"[Lucasfilm, Truenorth Productions, Bad Robot]",2015-12-15,7.5,2015,1868178225,12,28
4,tt2820852,190000000,1506249360,Furious 7,"[Vin Diesel, Paul Walker, Jason Statham, Miche...",James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action,"[Universal Pictures, Original Film, Media Righ...",2015-04-01,7.3,2015,1316249360,4,9
6,tt1340138,155000000,440603537,Terminator Genisys,"[Arnold Schwarzenegger, Jason Clarke, Emilia C...",Alan Taylor,Reset the future,"The year is 2029. John Connor, leader of the r...",125,Action,"[Paramount Pictures, Skydance Productions]",2015-06-23,5.8,2015,285603537,6,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1877,tt0199725,20000000,27728118,Love & Basketball,"[Chris Warren, Jr., Kyla Pratt, Sanaa Lathan, ...",Gina Prince-Bythewood,All's fair in love and basketball.,A young African-American couple navigates the ...,124,Action,[40 Acres & A Mule Filmworks],2000-04-21,7.3,2000,7728118,4,17
1880,tt0190374,35000000,15185241,Dungeons & Dragons,"[Justin Whalin, Jeremy Irons, Thora Birch, Bru...",Courtney Solomon,This is no game.,The classic role-playing game comes to life in...,107,Action,"[New Line Cinema, Silver Pictures, Sweetpea En...",2000-12-08,3.9,2000,-19814759,12,18
1882,tt0217756,24000000,12372410,Ready to Rumble,"[David Arquette, Scott Caan, Oliver Platt, Ros...",Brian Robbins,They're headed to the big time...face first.,Two slacker wrestling fans are devastated by t...,107,Action,"[Bel Air Entertainment, Warner Bros.]",2000-04-07,4.4,2000,-11627590,4,15
1884,tt0120903,75000000,157299717,X-Men,"[Patrick Stewart, Hugh Jackman, Ian McKellen, ...",Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Action,"[Twentieth Century Fox Film Corporation, Donne...",2000-07-13,6.6,2000,82299717,7,5
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,"[Rene Russo, Jason Alexander, Piper Perabo, Ra...",Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Action,"[Universal Pictures, Capella International, KC...",2000-06-30,4.0,2000,-40865180,6,36

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
                     ..
James Gunn            1
Joel Coen             1
Patrick Tatopoulos    1
Stuart Baird          1
James Cameron         1
Name: director, Length: 364, dtype: int64

In [30]:
answers['14'] = 'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [60]:
df_2012 = data[data.release_year == 2012]
df_2012.explode('cast').groupby('cast').sum().sort_values(by = 'revenue')

,budget,revenue,runtime,vote_average,release_year,profit,month,original_title_len,overview_len
cast,,,,,,,,,
Nicolas Cage,35000000,2106557,96,5.1,2012,-32893443,5,6,119
Josh Lucas,35000000,2106557,96,5.1,2012,-32893443,5,6,119
Sami Gayle,35000000,2106557,96,5.1,2012,-32893443,5,6,119
Danny Huston,35000000,2106557,96,5.1,2012,-32893443,5,6,119
Jason Bateman,10000000,3428048,115,6.7,2012,-6571952,9,10,352
...,...,...,...,...,...,...,...,...,...
Robert Downey Jr.,220000000,1519557910,143,7.3,2012,1299557910,4,12,297
Chris Evans,220000000,1519557910,143,7.3,2012,1299557910,4,12,297
Anne Hathaway,311000000,1522851057,322,14.5,4024,1211851057,19,36,603
Denis Leary,310000000,1629460639,224,12.6,4024,1319460639,12,48,837
Chris Hemsworth,485000000,2027450773,458,24.8,8048,1542450773,24,69,1525

In [61]:
answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [32]:
import pandas as pd 
data = pd.read_csv('movie_bd_v5.csv')
result = pd.Series(data[data.budget > data.budget.mean()].cast.str.split('|').sum()).value_counts().index[0]
print(result)

Matt Damon

In [33]:
answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [34]:
import pandas as pd 
data = pd.read_csv('movie_bd_v5.csv')
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

data['profit'] = data.revenue - data.budget
data['release_date'] = pd.to_datetime(data['release_date'], format='%m/%d/%Y')
data['month'] = pd.DatetimeIndex(data['release_date']).month
data['original_title_len'] = data['original_title'].apply(lambda s: len(s))
data['genres'] = data['genres'].apply(lambda x:x.split('|'))
data['director'] = data['director'].apply(lambda x: x.split('|'))                                                    
data['cast'] = data['cast'].apply(lambda x: x.split('|'))
data['production_companies'] = data['production_companies'].apply(lambda x: x.split('|'))      

df_actors = data.explode('cast')
df_Cage = df_actors[df_actors.cast == 'Nicolas Cage']
df_Cage.explode('genres').genres.value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Family              3
Animation           3
History             2
Horror              1
War                 1
Romance             1
Name: genres, dtype: int64

In [35]:
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [36]:
df_production = data.explode('production_companies')
df_paramount = df_production[df_production.production_companies == 'Paramount Pictures']
df_paramount.sort_values(by = 'profit')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,original_title_len
925,tt0267626,100000000,35168966,K-19: The Widowmaker,"[Harrison Ford, Liam Neeson, Peter Sarsgaard, ...",[Kathryn Bigelow],Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,"[Thriller, Drama, History]",Paramount Pictures,2002-07-19,6.0,2002,-64831034,7,20
1123,tt0300556,80000000,19480739,Timeline,"[Paul Walker, Frances O'Connor, Gerard Butler,...",[Richard Donner],They had to travel into the past to save the f...,A group of archaeological students become trap...,116,"[Action, Adventure, Science Fiction]",Paramount Pictures,2003-11-26,5.1,2003,-60519261,11,8
1722,tt0435705,70000000,18211013,Next,"[Nicolas Cage, Julianne Moore, Jessica Biel, T...",[Lee Tamahori],"If you can see the future, you can save it.",Las Vegas showroom magician Cris Johnson has a...,96,"[Action, Science Fiction, Thriller]",Paramount Pictures,2007-04-24,5.9,2007,-51788987,4,4
1623,tt0375173,60000000,13395939,Alfie,"[Jude Law, Marisa Tomei, Omar Epps, Jane Krako...",[Charles Shyer],Meet a man who never met a woman he didn't love.,"In Manhattan, the British limousine driver Alf...",103,[Comedy],Paramount Pictures,2004-10-22,5.4,2004,-46604061,10,5
1631,tt0315297,50000000,25195000,Twisted,"[Ashley Judd, Samuel L. Jackson, Andy GarcÃ­a,...",[Philip Kaufman],Every murder has a mark.,Recently promoted and transferred to the homic...,97,"[Action, Adventure, Crime, Drama, Thriller]",Paramount Pictures,2004-02-27,5.7,2004,-24805000,2,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
730,tt1229238,145000000,694713380,Mission: Impossible - Ghost Protocol,"[Tom Cruise, Jeremy Renner, Simon Pegg, Paula ...",[Brad Bird],No Plan. No Backup. No Choice.,In the 4th installment of the Mission Impossib...,133,"[Action, Thriller, Adventure]",Paramount Pictures,2011-12-07,6.7,2011,549713380,12,36
1738,tt0418279,150000000,709709780,Transformers,"[Shia LaBeouf, Josh Duhamel, Megan Fox, Rachae...",[Michael Bay],Their war. Our world.,"Young teenager, Sam Witwicky becomes involved ...",144,"[Adventure, Science Fiction, Action]",Paramount Pictures,2007-06-27,6.6,2007,559709780,6,12
603,tt0367882,185000000,786636033,Indiana Jones and the Kingdom of the Crystal S...,"[Harrison Ford, Cate Blanchett, Shia LaBeouf, ...",[Steven Spielberg],The adventure continues . . .,"Set during the Cold War, the Soviets â€“ led b...",122,"[Adventure, Action]",Paramount Pictures,2008-05-21,5.6,2008,601636033,5,50
317,tt1055369,150000000,836297228,Transformers: Revenge of the Fallen,"[Shia LaBeouf, Megan Fox, Josh Duhamel, Rainn ...",[Michael Bay],Revenge is coming,Sam Witwicky leaves the Autobots behind for a ...,150,"[Science Fiction, Action, Adventure]",Paramount Pictures,2009-06-19,6.0,2009,686297228,6,35
828,tt1399103,195000000,1123746996,Transformers: Dark of the Moon,"[Shia LaBeouf, John Malkovich, Ken Jeong, Fran...",[Michael Bay],The invasion we always feared. An enemy we nev...,Sam Witwicky takes his first tenuous steps int...,154,"[Action, Science Fiction, Adventure]",Paramount Pictures,2011-06-28,6.1,2011,928746996,6,30

In [37]:
answers['18'] = '925. K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [38]:
data.groupby(['release_year'])['revenue'].sum().sort_values()

release_year
2000    10664099805
2001    13017764865
2002    14136361487
2003    14346123312
2006    14775042320
2005    15309425558
2004    15663430720
2007    18162406801
2008    18252781990
2009    20261791024
2010    21071204961
2011    22676791872
2012    23079001687
2013    23213799791
2014    23405862953
2015    25449202382
Name: revenue, dtype: int64

In [39]:
answers['19'] = '2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [40]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data.revenue - data.budget
df_WB = data[data['production_companies'].str.contains('Warner Bros')]
df_WB.groupby('release_year')['profit'].sum().sort_values(ascending=False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

In [41]:
answers['20'] = '2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [42]:
data['release_date'] = pd.to_datetime(data['release_date'], format='%m/%d/%Y')
data['month'] = pd.DatetimeIndex(data['release_date']).month
data.month.value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

In [43]:
answers['21'] = 'Сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [44]:
data['release_date'] = pd.to_datetime(data['release_date'], format='%m/%d/%Y')

data['month'] = pd.DatetimeIndex(data['release_date']).month

df_summer = data[(data.month == 6) | (data.month == 7) | (data.month == 8)]

df_summer['original_title'].nunique()

449

In [45]:
answers['22'] = '449'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [46]:
data['release_date'] = pd.to_datetime(data['release_date'], format='%m/%d/%Y')

data['month'] = pd.DatetimeIndex(data['release_date']).month

df_winter = data[(data.month == 1) | (data.month == 2) | (data.month == 12)]

print(df_winter['director'].value_counts())

Peter Jackson         7
Steven Soderbergh     6
Clint Eastwood        6
Adam Shankman         4
Nancy Meyers          4
                     ..
Giuseppe Tornatore    1
Chris Columbus        1
Ivan Reitman          1
Peter Berg            1
Charles Stone III     1
Name: director, Length: 332, dtype: int64

In [47]:
answers['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [50]:
import pandas as pd 
data = pd.read_csv('movie_bd_v5.csv')
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

data['profit'] = data.revenue - data.budget
data['release_date'] = pd.to_datetime(data['release_date'], format='%m/%d/%Y')
data['month'] = pd.DatetimeIndex(data['release_date']).month
data['original_title_len'] = data['original_title'].apply(lambda s: len(s))
data['genres'] = data['genres'].apply(lambda x:x.split('|'))
data['director'] = data['director'].apply(lambda x: x.split('|'))                                                    
data['cast'] = data['cast'].apply(lambda x: x.split('|'))
data['production_companies'] = data['production_companies'].apply(lambda x: x.split('|'))   

df_production = data.explode('production_companies')
df_production.groupby(['production_companies'])['original_title_len'].mean().sort_values()

production_companies
Global Entertainment Group     2.0
Ixtlan Productions             2.0
XM2 Productions                2.0
Berlanti Productions           3.0
Everest Entertainment          3.0
                              ...
Polsky Films                  46.0
Museum Canada Productions     46.0
Dos Corazones                 47.0
Jim Henson Company, The       59.0
Four By Two Productions       83.0
Name: original_title_len, Length: 1771, dtype: float64

In [51]:
answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [52]:
# Создаю новый столбец "Длина описаний"
data['overview_len'] = data.overview.apply(lambda s: len(s))
df_production = data.explode('production_companies')
df_production.groupby(['production_companies'])['overview_len'].mean().sort_values()

production_companies
Motion Picture Corporation of America      59.0
Empire Pictures                            62.0
Phantom Four                               72.0
London Boulevard                           74.0
Projection Pictures                        74.0
                                          ...
Crest Animation Productions               909.0
Lions Gate Family Entertainment           909.0
Brookwell-McNamara Entertainment          936.0
Room 9 Entertainment                      964.0
Midnight Picture Show                    1000.0
Name: overview_len, Length: 1771, dtype: float64

In [53]:
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [54]:
data.sort_values(by = ['vote_average'], ascending = False).head(19)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,original_title_len,overview_len
599,tt0468569,185000000,1001921825,The Dark Knight,"[Christian Bale, Michael Caine, Heath Ledger, ...",[Christopher Nolan],Why So Serious?,Batman raises the stakes in his war on crime. ...,152,"[Drama, Action, Crime, Thriller]","[DC Comics, Legendary Pictures, Warner Bros., ...",2008-07-16,8.1,2008,816921825,7,15,396
118,tt0816692,165000000,621752480,Interstellar,"[Matthew McConaughey, Jessica Chastain, Anne H...",[Christopher Nolan],Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,"[Adventure, Drama, Science Fiction]","[Paramount Pictures, Legendary Pictures, Warne...",2014-11-05,8.0,2014,456752480,11,12,222
125,tt2084970,14000000,233555708,The Imitation Game,"[Benedict Cumberbatch, Keira Knightley, Matthe...",[Morten Tyldum],The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,"[History, Drama, Thriller, War]","[Black Bear Pictures, Bristol Automotive]",2014-11-14,8.0,2014,219555708,11,18,287
9,tt2096673,175000000,853708609,Inside Out,"[Amy Poehler, Phyllis Smith, Richard Kind, Bil...",[Pete Docter],Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,"[Comedy, Animation, Family]","[Walt Disney Pictures, Pixar Animation Studios...",2015-06-09,8.0,2015,678708609,6,10,638
34,tt3170832,6000000,35401758,Room,"[Brie Larson, Jacob Tremblay, Joan Allen, Sean...",[Lenny Abrahamson],Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,"[Drama, Thriller]","[Element Pictures, No Trace Camping, A24, Dupe...",2015-10-16,8.0,2015,29401758,10,4,243
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,"[Leonardo DiCaprio, Jonah Hill, Margot Robbie,...",[Martin Scorsese],EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,"[Crime, Drama, Comedy]","[Paramount Pictures, Appian Way, EMJAG Product...",2013-12-25,7.9,2013,292000694,12,23,200
128,tt2267998,61000000,369330363,Gone Girl,"[Ben Affleck, Rosamund Pike, Carrie Coon, Neil...",[David Fincher],You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,"[Mystery, Thriller, Drama]","[Twentieth Century Fox Film Corporation, Regen...",2014-10-01,7.9,2014,308330363,10,9,169
1191,tt2024544,20000000,187000000,12 Years a Slave,"[Chiwetel Ejiofor, Michael Fassbender, Lupita ...",[Steve McQueen],The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,"[Drama, History]","[Plan B Entertainment, Regency Enterprises, Ri...",2013-10-18,7.9,2013,167000000,10,16,379
119,tt2015381,170000000,773312399,Guardians of the Galaxy,"[Chris Pratt, Zoe Saldana, Dave Bautista, Vin ...",[James Gunn],All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,"[Action, Science Fiction, Adventure]","[Marvel Studios, Moving Picture Company (MPC),...",2014-07-30,7.9,2014,603312399,7,23,164
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,"[Elijah Wood, Ian McKellen, Viggo Mortensen, L...",[Peter Jackson],The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,"[Adventure, Fantasy, Action]","[WingNut Films, New Line Cinema]",2003-12-01,7.9,2003,1024888979,12,45,254
1800,tt0209144,9000000,39723096,Memento,"[Guy Pearce, Carrie-Anne Moss, Joe Pantoliano,...",[Christopher Nolan],Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,"[Mystery, Thriller]","[Summit Entertainment, Newmarket Capital Group...",2000-10-11,7.9,2000,30723096,10,7,436
370,tt1375666,160000000,825500000,Inception,"[Leonardo DiCaprio, Joseph Gordon-Levitt, Elle...",[Christopher Nolan],Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,"[Action, Thriller, Science Fiction, Mystery, A...","[Legendary Pictures, Warner Bros., Syncopy]",2010-07-14,7.9,2010,665500000,7,9,280
872,tt0253474,35000000,120072577,The Pianist,"[Adrien Brody, Thomas Kretschmann, Frank Finla...",[Roman Polanski],Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,"[Drama, War]","[Bac Films, Canal+Polska, Heritage Films, Stud...",2002-09-24,7.9,2002,85072577,9,11,238
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,"[Ralph Fiennes, Tony Revolori, F. Murray Abrah...",[Wes Anderson],A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,"[Comedy, Drama]","[Fox Searchlight Pictures, Scott Rudin Product...",2014-02-26,7.9,2014,144600318,2,24,402
1188,tt1798709,23000000,47351251,Her,"[Joaquin Phoenix, Scarlett Johansson, Rooney M...",[Spike Jonze],A Spike Jonze Love Story,"In the not so distant future, Theodore, a lone...",126,"[Romance, Science Fiction, Drama]",[Annapurna Pictures],2013-12-18,7.8,2013,24351251,12,3,411
28,tt1895587,20000000,88346473,Spotlight,"[Mark Ruffalo, Michael Keaton, Rachel McAdams,...",[Tom McCarthy],Break the story. Break the silence.,The true story of how The Boston Globe uncover...,128,"[Drama, Thriller, History]","[Participant Media, Open Road Films, Anonymous...",2015-11-06,7.8,2015,68346473,11,9,189
124,tt2245084,165000000,652105443,Big Hero 6,"[Scott Adsit, Ryan Potter, Daniel Henney, T.J....","[Don Hall, Chris Williams]",From the creators of Wreck-it Ralph and Frozen,The special bond that develops between plus-si...,102,"[Adventure, Family, Animation, Action, Comedy]","[Walt Disney Pictures, Walt Disney Animation S...",2014-10-24,7.8,2014,487105443,10,10,171
177,tt2582846,12000000,305151265,The Fault in Our Stars,"[Shailene Woodley, Ansel Elgort, Nat Wolff, La...",[Josh Boone],One Sick Love Story,Despite the tumor-shrinking medical miracle th...,125,"[Romance, Drama]","[Fox 2000 Pictures, Temple Hill Entertainment,...",2014-05-16,7.8,2014,293151265,5,22,302
863,tt0167261,79000000,926287400,The Lord of the Rings: The Two Towers,"[Elijah Wood, Ian McKellen, Viggo Mortensen, L...",[Peter Jackson],A New Power Is Rising.,Frodo and Sam are trekking to Mordor to destro...,179,"[Adventure, Fantasy, Action]","[WingNut Films, New Line Cinema, The Saul Zaen...",2002-12-18,7.8,2002,847287400,12,37,248

In [55]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [56]:
# Перебираю каждую из предложенных пар
df = pd.read_csv('movie_bd_v5.csv')

# df = df[df.cast.str.contains("Johnny Depp") & df.cast.str.contains("Helena Bonham Carter")]
# df = df[df.cast.str.contains("Ben Stiller") & df.cast.str.contains("Owen Wilson")]
# df = df[df.cast.str.contains("Vin Diesel") & df.cast.str.contains("Paul Walker")]
# df = df[df.cast.str.contains("Adam Sandler") & df.cast.str.contains("Kevin James")]
df = df[df.cast.str.contains("Daniel Radcliffe") & df.cast.str.contains("Rupert Grint")]

print(df.shape[0])

8

In [57]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

ВАРИАНТ 2

# Submission

In [62]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '449',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint',
 '15': 'Chris Hemsworth'}

In [63]:
# и убедиться что ни чего не пропустил)
len(answers)

27